body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #076d79;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.profile-pic {
    width: 20px; /* Définir la largeur souhaitée */
    height: auto; /* Maintenir le rapport hauteur/largeur */
    border-radius: 50%; /* Rendre l'image ronde si nécessaire */
}
.logo img {
    height: 50px; /* Ajustez la taille du logo selon vos besoins */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

main {
    padding: 20px;
}

.presentation {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.event {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
.main-content {
    display: flex;
    justify-content: space-between;
}

.left-content {
    flex: 2;
    margin-right: 20px;
}

.right-content {
    flex: 1;
}

.create-post {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.create-post form {
    display: flex;
    flex-direction: column;
}

.create-post textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.create-post button {
    padding: 10px;
    background-color: #076d79;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    margin-top: 20px;
    width: 80%; /* Ajustez la largeur selon vos besoins */
    margin: 0 auto; /* Utiliser cette propriété pour centrer horizontalement */
    max-width: 800px; /* Ajouter une largeur maximale pour éviter que la section ne s'étire trop sur de grands écrans */
}


.contact h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.contact p {
    color: #666;
    font-size: 16px;
    margin-bottom: 15px;
}

.contact ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact ul li {
    color: #444;
    font-size: 16px;
    margin-bottom: 5px;
}

.contact ul li a {
    color: #007bff; 
    text-decoration: none;
}

.contact ul li a:hover {
    text-decoration: underline; 
}

.contact iframe {
    margin-top: 20px;
    border: none; 
    border-radius: 10px; 
}


.feed {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.feed .post {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.events-carousel {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-container {
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.carousel-slide {
    min-width: 100%;
    transition: opacity 1s ease-in-out;
}

.carousel-slide img {
    width: 100%;
    border-radius: 10px;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

footer {
    background-color: #076d79;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
