body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #076d79;
    background: rgb(7,109,121);
    background: linear-gradient(90deg, rgba(7,109,121,1) 0%, rgba(9,152,169,1) 98%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

main {
    padding: 20px;
}

.network {
    text-align: center;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.contact-info {
    margin-top: 10px;
}

.onglet {
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s, border-bottom 0.3s;
}
.onglet:hover {
    box-shadow: 12px 12px 72px -23px rgba(41,49,56,0.9) inset;
    -webkit-box-shadow: 12px 12px 72px -23px rgba(41,49,56,0.9) inset;
    -moz-box-shadow: 12px 12px 72px -23px rgba(41,49,56,0.9) inset;}

.ongletSelect {
    font-weight: bold; /* Met en gras le texte de l'onglet */
    color: #088897; /* Change la couleur du texte de l'onglet */
    border-bottom: 2px solid #088897; /* Ajoute une bordure en bas de l'onglet */
    background-color: #088897; /* Ajoute un arrière-plan gris clair */
    border-radius: 5px; /* Arrondit les coins de l'onglet */
    padding: 8px 12px; /* Ajoute de l'espace à l'intérieur de l'onglet */
    margin: 0 5px; /* Ajoute un espace entre les onglets */
    transition: background-color 0.3s; /* Ajoute une transition fluide lors du survol */
    box-shadow: 12px 12px 72px -23px rgba(41,49,56,0.9) inset;
-webkit-box-shadow: 12px 12px 72px -23px rgba(41,49,56,0.9) inset;
-moz-box-shadow: 12px 12px 72px -23px rgba(41,49,56,0.9) inset;
}

.friend{
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
    
}

footer {
    background-color: #076d79;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}